<section class="page-enquiries">

	<header class="p-header row-full">
		<div class="row">
			<div class="p-header-claim small-12 large-6 column">
				<h1>Ejerce tu derecho a saber</h1>
				<p>Obtén información del Ayuntamiento de Madrid rellenando la solicitud o navega por las solicitudes de otros ciudadanos.</p>
				<a class="p-action -primary" href="/enquiry_form">Haz tu solicitud</a>
			</div>
			<div class="p-header-featured small-12 large-6 column">
				yeah
			</div>
		</div>
	</header>

	<section class="p-search row-full">
		<form action="#" class="row">
			<fieldset class="p-search-inner large-6">
				<i class="icon-search"></i>
				<input type="text" placeholder="Busca entre las solicitudes ya realizadas">
				<button type="submit">Buscar</button>
			</fieldset>
		</form>
	</section>

	<section class="p-block p-block-how row-full">
		<div class="row">
			<h1>Cómo funciona</h1>
			<ol class="p-how-list row">
				<li class="small-12 large-4 column">
					<div class="p-how-list-inner">
						<h2>Haz una solicitud para el Ayuntamiento</h2>
						<p>Puedes solicitar un dato concreto, un conjunto de datos o cualquier tipo de información.</p>
					</div>
				</li>
				<li class="small-12 large-4 column">
					<div class="p-how-list-inner">
						<h2>El Ayuntamiento revisará tu solicitud</h2>
						<p>Un miembro del Ayto. revisará tu solicitud personalmente para darte la respuesta.</p>
					</div>
				</li>
				<li class="small-12 large-4 column">
					<div class="p-how-list-inner">
						<h2>Resolución y publicación</h2>
						<p>Te notificaremos la respuesta y publicaremos tu solicitud junto con la respuesta oficial del Ayto.</p>
					</div>
				</li>
			</ol>
		</div>
	</section>





</section>