<section class="page-enquiries">

	<header class="p-header row-full">
		<div class="row">
			<div class="p-header-claim small-12 large-6 column">
				<h1>Ejerce tu derecho a saber</h1>
				<p>Obtén información del Ayuntamiento de Madrid rellenando la solicitud o navega por las solicitudes de otros ciudadanos.</p>
				<a class="p-action -primary" href="/enquiry_form">Haz tu solicitud</a>
			</div>
			<div class="p-header-featured small-12 large-6 column">
				yeah
			</div>
		</div>
	</header>

	<section class="p-search row-full">
		<form action="#" class="row">
			<fieldset class="p-search-inner large-6">
				<input type="text" placeholder="Busca entre las solicitudes ya realizadas">
				<button type="submit">Buscar</button>
			</fieldset>
		</form>
	</section>





</section>