<article class="page-enquiries page-enquiries-detail">

	<header class="p-header row-full">
		<div class="p-header-claim row">
			<h1>Condonación de deuda de los bancos a los partidos políticos</h1>
			<p>SOLICITUD HECHA EL 21 DE OCT. DE 2015</p>
		</div>
	</header>

	<section class="p-detail-container row">
		<section class="p-detail-messages small-12 large-8 column">
			<article class="p-detail-message">
				<em>MENSAJE DEL SOLICITANTE – 21 DE OCT. DE 2015 12:32</em>
				<p>Estimado Banco de España,</p>
				<p>Nos gustaría conocer:</p>
				<p>- A qué cantidad asciende la condonación de deuda de los bancos a
los partidos políticos con representación en el Congreso entre 2000
y 2012 (desglose por años).
- Qué entidades son las que han condonado la deuda</p>
			</article>

			<article class="p-detail-message --response">
				<em>
					MENSAJE DEL SOLICITANTE – 21 DE OCT. DE 2015 12:32
					<span>Oficina de Información Ambiental - Ministerio de Agricultura, Alimentación y Medio Ambiente</span>
				</em>

				<p>Estimado Banco de España,</p>
				<p>Nos gustaría conocer:</p>
				<p>- A qué cantidad asciende la condonación de deuda de los bancos a
los partidos políticos con representación en el Congreso entre 2000
y 2012 (desglose por años).
- Qué entidades son las que han condonado la deuda</p>
			</article>

			<article class="p-detail-message">
				<em>MENSAJE DEL SOLICITANTE – 21 DE OCT. DE 2015 12:32</em>
				<p>Estimado Banco de España,</p>
				<p>Nos gustaría conocer:</p>
				<p>- A qué cantidad asciende la condonación de deuda de los bancos a
los partidos políticos con representación en el Congreso entre 2000
y 2012 (desglose por años).
- Qué entidades son las que han condonado la deuda</p>
			</article>

			<form class="p-form small-12 large-8">
				<fieldset>
					<legend>Añade una respuesta</legend>
					<label>
						<textarea placeholder="Cuerpo de la respuesta" rows="8"></textarea>
					</label>
					<label class="p-form-file">
						<span>Docuementación adjunta <strong>Seleccionar</strong></span>
						<input type="file">
					</label>
					<ul class="p-files">
						<li>
							<button><i class="icon-x"></i></button>
							<span>fichero1.pdf</span>
						</li>
						<li>
							<button><i class="icon-x"></i></button>
							<span>fichero2.pdf</span>
						</li>
					</ul>
				</fieldset>

				<fieldset>
					<legend>Verificación en envío</legend>
					<div>CAPTCHA</div>
					<label>
						<input type="text" placeholder="Introduce el texto de la imagen">
					</label>
					<button class="p-action" type="submit">Enviar respuesta</button>
				</fieldset>
			</form>
		</section>

		<aside class="p-detail-meta small-12 large-4 column">
			<ul class="p-detail-meta-list">
				<li class="p-detail-meta-item --user">
					<img alt="" src="">
					<p>por Ciudadano Anónimo</p>
				</li>
				<li class="p-detail-meta-item">
					<h1 class="estado">Estado <span class="true">respondida</span></h1>
					<a href="#" class="p-action --small">Ver la respuesta</a>
				</li>
				<li class="p-detail-meta-item --time">
					<h1>Respondido en</h1>
					<p>3 días</p>
				</li>
				<li class="p-detail-meta-item">
					<h1>Documentación solicitud</h1>
					<ul class="p-files">
						<li>
							<i class="icon-document"></i>
							<a href="#" download>fichero1.pdf</a>
						</li>
						<li>
							<i class="icon-document"></i>
							<a href="#" download>fichero2.pdf</a>
						</li>
					</ul>
				</li>
				<li class="p-detail-meta-item --response">
					<h1>Documentación respuesta</h1>
					<ul class="p-files">
						<li>
							<i class="icon-document"></i>
							<a href="#" download>fichero1.pdf</a>
						</li>
						<li>
							<i class="icon-document"></i>
							<a href="#" download>fichero2.pdf</a>
						</li>
					</ul>
				</li>
				<li class="p-detail-meta-item --suscribe">
					<a href="#" class="p-action --secondary">Suscribirse</a>
					<em>109 suscriptores</em>
				</li>
				<li class="p-detail-meta-item --share">
					<h1>Comparte la solicitud</h1>
					<a href="#" class="twitter">Compartir en Twitter</a>
					<a href="#" class="facebook">Compartir en Facebook</a>
				</li>
				<li class="p-detail-meta-item --related">
					<h1>Solicitudes similares</h1>
					<ul>
						<li class="p-enquiry-item">
							<em>Sin respuesta</em>
							<h1><a href="#">Condonación de deuda de los bancos a los partidos políticos</a></h1>
						</li>
						<li class="p-enquiry-item --answered">
							<em>respondida</em>
							<h1><a href="#">Condonación de deuda de los bancos a los partidos políticos</a></h1>
						</li>
						<li class="p-enquiry-item --rejected">
							<em>rechazada</em>
							<h1><a href="#">Condonación de deuda de los bancos a los partidos políticos</a></h1>
						</li>
					</ul>
				</li>
			</ul>
		</aside>
	</section>

</article>