<% provide :title do %><%= t('static_pages.conditions.title') %><% end %>

<div class="small-12 column">
  <h1><%= t("static_pages.conditions.title") %></h1>
  <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DEL PORTAL DE TRANSPARENCIA DEL AYUNTAMIENTO DE MADRID</h2>

  <h3>1. Ámbito de aplicación de las condiciones de uso</h3>
  <p>La participación (entendiéndola como participación activa más allá de la lectura del contenido presente) en el Portal de Transparencia del Ayuntamiento de Madrid se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
  <p>El Ayuntamiento de Madrid se reserva la facultad de modificar las presentes condiciones de uso para la participación en el Portal de Transparencia del Ayuntamiento de Madrid, cuya última versión se publicará en este sitio web.</p>
  <p>La participación en el Portal de Transparencia del Ayuntamiento de Madrid se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas condiciones de uso.</p>
  <p>El Ayuntamiento de Madrid se reserva la facultad de modificar las presentes condiciones de uso del Portal de Transparencia del Ayuntamiento de Madrid cuya última versión se publicará en este sitio web.</p>

  <h3>2. Objetivo de la iniciativa</h3>
  <p>A través del Portal de Transparencia, el Ayuntamiento de Madrid quiere facilitar a la ciudadanía el acceso a información sobre el Ayuntamiento.</p>

  <h3>3. Cuestiones generales sobre la participación en el Portal de Transparencia del Ayuntamiento de Madrid</h3>
  <p>Podrá participar cualquier persona física a partir de los 16 años que se haya registrado previamente en el Portal de Transparencia. Mediante la aceptación de estas condiciones de uso se declara tener 16 años o más. Los mayores de edad a cuyo cargo se encuentran los menores, son los plenos responsables de la actuación que tengan éstos en el Portal de Transparencia. No existe limitación en cuanto al número de debates, comentarios o propuestas a presentar por los participantes.</p>
  <p>Al introducir el título de las propuestas, se recomienda escribir una descripción breve y precisa con un máximo de 2000 caracteres. Para completar la argumentación se podrán asociar documentos adjuntos o de las Redes Sociales Vimeo, Youtube, Slideshare, Flickr o SoundCloud.</p>

  <h3>4. Uso del Portal de Transparencia</h3>
  <p>Los participantes podrán acceder y navegar por el Portal de Transparencia libremente y de forma anónima.

  <h3>5. Política de privacidad y protección de datos</h3>
  <ul>
    <li>A. Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de Madrid de forma voluntaria para su divulgación en el Portal de Transparencia del Ayuntamiento de Madrid.<br><br>
    La titularidad de todos y cada uno de los Contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de los mencionados Contenidos.<br><br>
    El Ayuntamiento de Madrid no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.<br><br>
    El Ayuntamiento de Madrid respetará todos los Derechos de Propiedad Intelectual o Industrial sobre el contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte el contenido.<br><br>
    El Ayuntamiento de Madrid, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.</li>
    <li>B. Protección de datos: Los datos personales aportados por los usuarios que se registren en el Portal de Transparencia, serán incorporados y tratados en el fichero Gestión de Procesos Participativos, cuya finalidad es gestionar los procesos participativos para el control de la habilitación de las personas que participan en los mismos y recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana. Gestión de Agendas para convocatorias y envío de información solicitada. El órgano responsable del fichero es la Dirección General competente en materia de Participación Ciudadana, ante la que la persona interesada podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, todo lo cual se informa en cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
  </ul>

  <p>Como principio general, los datos personales no serán comunicados a terceros, excepto cuando la comunicación haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policía judicial, o se de alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</p>
  <ul>
    <li>Los derechos de acceso, rectificación, cancelación y oposición, se podrán ejercitar dirigiendo una comunicación por escrito al Ayuntamiento de Madrid, Área de Gobierno de Participación Ciudadana, Transparencia y Transparencia, Dirección General de Participación Ciudadana.</li>
  </ul>

  <h3>6. Normativa aplicable</h3>
  <p>Las normas del ordenamiento jurídico español rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>

  <h3>7. Revisión de las condiciones de uso</h3>
  <p>El Ayuntamiento de Madrid se reserva el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando el Portal de Transparencia, se entenderán aceptadas las modificaciones introducidas.</p>
</div>
