<% provide :title do %><%= t('static_pages.privacy.title') %><% end %>

<div class="small-12 column">
  <h1><%= t("static_pages.privacy.title") %></h1>

  <h2>AVISO DE PROTECCIÓN DE DATOS</h2>
  <ol>
    <li>La navegación por la informacion disponible en el Portal de Transparencia del Ayuntamiento de Madrid es anónima.</li>
    <li>Para utilizar los servicios contenidos en el Portal de Transparencia del Ayuntamiento de Madrid el usuario no necesita darse de alta.</li>
    <li>Esta página no guarda datos de carácter personal acerca de sus visitantes</li>
    <li>Como principio general, este sitio web no comparte ni revela información obtenida, excepto cuando haya sido autorizada por el usuario, o la informacion sea requerida por la autoridad judicial, ministerio fiscal o la policia judicial, o se de alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
  </ol>
</div>
