<h2><%= t("people.biography") %></h2>
<p>Es magistrada y jueza. En 1965 se licenció en Derecho y poco después fundó el despacho laboralista de Atocha (Madrid), donde, en 1977, un atentado de la extrema derecha provocó la muerte de varios de sus compañeros y una gran consternación en toda España.</p>
<p>Defensora de los obreros y detenidos durante la dictadura franquista, ha sido también vocal del Consejo General del Poder Judicial y delegada para el País Vasco, jueza decana de Madrid y jueza de Vigilancia Penitenciaria. Ha representado a España en el Grupo de Trabajo contra las Detenciones Arbitrarias de la ONU.</p>
<p>En 2008 fue distinguida con el Premio Manuel de Irujo. En 2010 se jubiló y poco después se "desjubiló", desarrollando una importante labor en relación con las víctimas de abusos policiales, en la comisión dependiente de la Dirección de Derechos Humanos del Departamento de Justicia del Gobierno vasco. Ha sido también relatora de Naciones Unidas.</p>
