<h2><%= t("people.declarations") %></h2>

<!-- 1) Datos personales -->
<table>
  <caption>1) Datos personales</caption>
  <thead>
    <tr>
      <th scope="col">Fecha de declaración</th>
      <th scope="col">Código Persona</th>
      <th scope="col">Grupo político</th>
      <th scope="col">Apellido 1</th>
      <th scope="col">Apellido 2</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01/01/2015</td>
      <td>00786543</td>
      <td>Ahora Madrid</td>
      <td>Carmena</td>
      <td>Castrillo</td>
      <td>Manuela</td>
    </tr>
  </tbody>
</table>

<!-- 3) Patrimonio Inmobiliario -->
<table>
  <caption>3) Patrimonio Inmobiliario</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descripción</th>
      <th scope="col">% Participación</th>
      <th scope="col">Fecha de adquisición</th>
      <th scope="col">Valor catastral</th>
      <th scope="col">Superficie</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>Rústico</td>
      <td>Pleno dominio</td>
      <td>Vivienda</td>
      <td>100%</td>
      <td>1/1/90</td>
      <td>13131</td>
      <td>112m<sup>2</sup></td>
    </tr>
  </tbody>
</table>

<!-- 4) Depósitos en cuenta -->
<table>
  <caption>4) Depósitos en cuenta</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Entidad de depósito</th>
      <th scope="col">Saldo medio anual o valor (euros)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>Libreta de ahorro</td>
      <td>BBVA</td>
      <td>234.566&euro;</td>
    </tr>
  </tbody>
</table>

<!-- 5) Otros Depósitos en cuenta -->
<table>
  <caption>5) Otros Depósitos en cuenta</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de adquisición</th>
      <th scope="col">Número, cuantía o valor en euros</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>Acciones y participaciones</td>
      <td>Bonos del estado</td>
      <td>1/1/15</td>
      <td>3.000&euro;</td>
    </tr>
  </tbody>
</table>

<!-- 6. Vehículos -->
<table>
  <caption>6) Vehículos</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Marca y modelo</th>
      <th scope="col">Fecha de adquisición</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>Vehículo propio</td>
      <td>SEAT Ibiza</td>
      <td>1/1/13</td>
    </tr>
  </tbody>
</table>

<!-- 7) Otros Bienes Muebles -->
<table>
  <caption>7) Otros Bienes Muebles</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de adquisición</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
  </tbody>
</table>

<!-- 8) Deudas -->
<table>
  <caption>8) Deudas</caption>
  <thead>
    <tr>
      <th scope="col">Código Persona</th>
      <th scope="col">Tipo de Declaración</th>
      <th scope="col">Clase</th>
      <th scope="col">Descripción</th>
      <th scope="col">Importe actual en euros</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>00786543</td>
      <td>Inicial</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
  </tbody>
</table>
