<tr>
  <td><%= f.text_field :name, label: false, id: nil %></td>
  <td><%= f.text_field :level, label: false, id: nil %></td>
  <td><%= link_to t('shared.delete'), '#', class: "right tiny button alert", data: {delete_parent: "tr" } %></td>
</tr>
