<a name="profile" data-magellan-destination="profile"></a>
<h2 class="lead profile"><%= t("people.profile") %></h2>

<% if @person.councillor? %>
  <p class="margin"><%= t('shared.no_data') %></p>
<% else %>
  <p class="margin"><%= t('people.show.no_profile') %></p>
<% end %>


