<a name="profile" data-magellan-destination="profile"></a>
<h2 class="lead profile"><%= t("people.profile") %></h2>

<% unless @person.councillor? %>
<p><%= t('people.show.no_profile') %>
<% end %>


