<% people_by_initial.each do |name_initial, people| %>
  <h2 class="lead"><%= name_initial %></h2>
  <ul class="people-list-text">
    <% people.each do |person| %>
      <li>
        <h3 class="inline-block">
          <%= link_to person.backwards_name, person_path(person) %>
        </h3>
        - <%= person.role %>
      </li>
    <% end %>
  </ul>
<% end %>
