<h2><%= t("people.responsibility") %></h2>

<ul class="responsibility-list">
  <li>Concejal de Ahora Madrid</li>
  <li>Miembro de la Junta de Gobierno</li>
  <li>Delegado del Área de Participación Ciudadana, Transparencia y Gobierno Abierto</li>
  <li>Miembro de la Comisión Permanente Especial de Sugerencias y Reclamaciones</li>
  <li>Miembro de la Comisión Permanente Ordinaria de Participación Ciudadana, Transparencia y Gobierno Abierto</li>
</ul>