<h2><small><%= title_helper(@selected, 3) %></small></h2>
<% @pages_section3.each do |page| %>
  <%= content_tag_for :div, page do %>
    <%= link_to (page.link || page_path(page)), target: (page.link.present? ? "_blank" : "_self") do %>
      <span><%= page.title %></span>
      <i class="icon-angle-right"></i>
    <% end %> 
     
  <% end %>
<% end %>