<h2><small>Participación Ciudadana, Transparencia y Gobierno Abierto</small></h2>
<div class ="center">
  <%= link_to "#", class: "active"  do %>
    Dirección General de Transparencia
    <span>  Includes when and how benefit payments are made, benefits calculators and benefit fraud</span>
    <i class="icon-angle-right"></i>
  <% end %>
  <%= link_to "#"  do %>
    Dirección General de participación
     <span>Includes when and how benefit payments are made, benefits calculators and benefit fraud</span>
     <i class="icon-angle-right"></i>
  <% end %>     
  <%= link_to "#"  do %> 
    Dirección General de gobierno abierto
    <span>Includes when and how benefit payments are made, benefits calculators and benefit fraud</span>
    <i class="icon-angle-right"></i>
  <% end %>
</div>