<% if notice.present? %>
  <div id="notice" class="alert alert-info ">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div id="alert" class="alert alert-danger">
    <%= alert %>
  </div>  
<% end %>