<% if notice.present? %>
  <div data-alert class="alert-box success text-center">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div data-alert class="alert-box alert text-center">
    <%= alert %>
  </div>  
<% end %>
