<div class="sidebar_left">
  <strong>¿Que buscas?</strong>   
   <%= link_to "#", class: "active"  do %>
    Participación Ciudadana,Transparencia y Gobierno Abierto
    <i class="icon-angle-down"></i>
   <% end %>
  <%= link_to "#"   do %>
  Area de gobierno de Deporte y cultura
  <i class="icon-angle-right"></i>
  <% end %>
  <%= link_to "#"   do %>
  Participación Ciudadana,Transparencia y Gobierno Abierto
  <i class="icon-angle-right"></i>
  <% end %>
   
    
</div>