<div class="column_left">
  <strong>¿Que buscas?</strong>   
  <%= link_to "#", class: "active"  do %>
    <span>Participación Ciudadana,Transparencia y Gobierno Abierto</span>
    <i class="icon-angle-right"></i>
  <% end %>
  <%= link_to "#"   do %>
    <span>Area de gobierno de Deporte y cultura</span>
    <i class="icon-angle-right"></i>
  <% end %>
  <%= link_to "#"   do %>
    <span>Participación Ciudadana,Transparencia y Gobierno Abierto</span>
    <i class="icon-angle-right"></i>
  <% end %>
</div>