<div class="sidebar_left">
  <strong>¿Que buscas?</strong>   
  <%= link_to "Participación Ciudadana,Transparencia y Gobierno Abierto", nil, class: "active" %>
  <%= link_to "Area de gobierno de Deporte y cultura", nil %>
  <%= link_to "Participación Ciudadana,Transparencia y Gobierno Abierto", nil %>
</div>