<div class="top-links hide-for-small-only">
  <div class="row">
    <div class="external-links">
      <%= link_to t("layouts.header.participation"), "http://decide.madrid.es" %>&nbsp;|
      <%= link_to t("layouts.header.transparency"), "http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Transparencia?vgnextfmt=default&vgnextchannel=20fd850769797310VgnVCM2000000c205a0aRCRD" %>
    </div>
  </div>
</div>
