<div class="browse-panes">

  <div class="small-12 medium-3 column">
    <%= render 'areas/menu' %>
  </div>

  <div class="pane-second small-12 medium-3 column">
    <h2><%= @area.name %></h2>
    <%= render 'departments/menu' %>
  </div>

  <div class="pane-third text small-12 medium-6 column">
    <%= render @department %>
  </div>
</div>
