<div class="program-accomplishment row">
  <div class="large-3 columns">
    <div class="column_left">
      <%= render 'areas/menu' %>
    </div>
  </div>
  <div class="large-4 columns">
    <h2><small><%= @area.name %></small></h2>
    <div class ="column_center">
      <%= render 'departments/menu' %>
    </div>    
  </div>
  <div class="large-5 columns">
    <div class="column_right">
      <%= render @department %>
    </div>  
  </div>
</div>