<div class="intro">
  <div class="small-12 column">
    <h1>Bienvenidos al Portal de Transparencia</h1>
    <p>El mejor lugar para encontrar toda la información del Ayuntamiento de Madrid</p>
    <div class="small-12 medium-6">
      <div class="row collapse">
        <div class="small-9 medium-12 large-9 columns">
          <input type="text" name="search" placeholder="Buscar..." class="search-form">
        </div>
        <div class="small-3 medium-12 large-3 columns">
          <input type="submit" class="button postfix" value="Buscar">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="small-12 medium-4 column">
  <h2><%= link_to "Áreas de gobierno", "/areas" %></h2>
  <p>Todas las Áreas de Gobierno que componen el Ayuntamiento.</p>
</div>
<div class="small-12 medium-4 column">
  <h2><%= link_to "Concejales", "#" %></h2>
  <p>Conoce los perfiles de los 57 Concejales.</p>
</div>
<div class="small-12 medium-4 column">

</div>
