<div class="small-12 column">
  <h1><%= t("index.title") %></h1>

  <div class="small-12 medium-6">
    <div class="row collapse">
      <%= render 'searches/form', url: searches_path %>
    </div>
  </div>
</div>
