<div class="program-accomplishment row">
  <div class="large-3 columns">
     <%= render 'shared/sidebar_left' %>
  </div>
  <div class="large-4 columns">
    <%= render 'shared/center' %>
  </div>
  <div class="large-5 columns">
    <%= render 'shared/sidebar_right' %>
  </div>
</div>