<strong>¿Que buscas?</strong>
<div class="area" id="area_1">
  <a class="" href="/areas/1/departments">
    <span>Equidad, Derechos Sociales y Empleo</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_2">
  <a class="" href="/areas/2/departments">
    <span>Coordinación Territorial y Asociaciones</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_3">
  <a class="" href="/areas/3/departments">
    <span>Portavoz, Coordinación Junta de Gobierno y Relaciones con el Pleno</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_4">
  <a class="" href="/areas/4/departments">
    <span>Economía y Hacienda</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_5">
  <a class="" href="/areas/5/departments">
    <span>Salud, Seguridad y Emergencias</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_6">
  <a class="" href="/areas/6/departments">
    <span>Participación Ciudadana, Transparencia y Gobierno Abierto</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_7">
  <a class="" href="/areas/7/departments">
    <span>Desarrollo Urbano Sostenible</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_8">
  <a class="" href="/areas/8/departments">
    <span>Medio Ambiente y Movilidad</span>
    <i class="icon-angle-right"></i>
  </a></div>  <div class="area" id="area_9">
  <a class="" href="/areas/9/departments">
    <span>Cultura y Deportes</span>
    <i class="icon-angle-right"></i>
  </a>
</div>         
