<%= content_tag_for :li, page, class: "level#{page.level}" do %>

  <%#= link_to '', edit_page_path(page), class: 'icon-edit has-tip', data: {tooltip: true}, title: "edit" %>

  <%= link_to_page(page) do %>
    <span><%= page.title %></span>
  <% end %>

<% end %>

<% if page.depth == 2 && page.has_children? %>
  <%= render page.children %>
<% end %>