<div class="small-12 medium-<%= page.depth + 3 %> column">

  <div class="<%= page_column_helper(page.depth) %>">

    <div class="menu">
      <h1><%= page_title_helper(page) %></h1>

      <ul>
        <%= render page.siblings %>
      </ul>
    </div>
  </div>

</div>

