<div class="small-12 medium-<%= page.depth + 3 %> column <%= page_column_helper(page.depth) %>">

  <div class="menu">
    <h2><%= page_title_helper(page) %></h2>

    <ul>
      <%= render page.siblings %>
    </ul>
  </div>
</div>
