<div class="pages">

  <div class="row">
    <%= link_to t("pages.create"), new_page_path, class: 'button radius small right' %>
  </div>

  <div class="browse-panes row ">

    <% @pages_path.each do |page| %>
      <%= render 'pages/section', page: page %>
    <% end %>

    <%= empty_sections_placeholders(@pages_path) %>
  </div>
</div>
