<div class="pages">
  <div class="row">
    <div class="small-2 small-push-10 columns">
      <%= link_to "Añadir contenido", new_page_path, class: 'button tiny'  %>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="areas column_left">
        <%= render 'pages/sections/section1' %>     
    </div>
  </div>

  <div class="large-4 columns">
    <div class="column_center">
      <%= render 'pages/sections/section2' %>
    </div>
  </div>

  <div class="large-5 columns"> 
    <div class="column_right">
       <%= render 'pages/sections/section3' %>
    </div>
  </div>
</div>