<div class="show">
  <div class="large-9 columns"> 
    <h1><small><%= @page.title %></small></h1>
    <h2><small><%= @page.subtitle %></small></h2>
    <%= @page.content.html_safe  %> 
    <br>
    <%= link_to "Editar", edit_page_path(@page), class: 'button tiny' %> 
  </div>
  <div class="large-3 columns"></div>
</div>
