default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 25
  username:
  password:

development:
  <<: *default
  database: transparencia_development

test:
  <<: *default
  database: transparencia_test