<nav class="breadcrumbs" aria-label="breadcrumbs">
  <li>
    <%= link_to t("home"), root_path %>
  </li>
  <li class="unavailable" aria-disabled="true">
    <%= t("areas.menu.title") %>
  </li>
</nav>

<div class="small-12 medium-3 column">
  <%= render 'areas/menu' %>
</div>
