<div class="program-accomplishment row">
  <div class="large-3 columns">
    <div class="areas column_left">
      <%= render 'areas/menu' %>      
    </div>
  </div>
  <div class="large-4 columns">
  </div>
  <div class="large-5 columns">
  </div>
</div>