<tr style="display:none;"><%= f.hidden_field :_destroy %></tr>
<tr>
  <td><%= f.text_field :name, label: false, id: nil %></td>
  <td><%= f.text_field :level, label: false, id: nil %></td>
  <td class="text-center"><%= link_to t('shared.delete'), '#', class: "delete", data: {delete_parent: "tr" } %></td>
</tr>
