<tr>
  <td><%= f.text_field :kind, label: false, id: nil %></td>
  <td><%= f.text_field :model, label: false, id: nil %></td>
  <td><%= f.text_field :purchase_date, label: false, id: nil, type: 'date' %></td>
  <td class="text-center"><%= link_to t('shared.delete'), '#', class: "delete", data: {delete_parent: "tr" } %></td>
</tr>