// Table of Contents
//
// 01. Variables
// 02. Mixins
// 03. Global styles
// 04. Header
// 05. Footer
// 06. Social
// 07. Alerts
//


// 01. Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "variables";

// 02. Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin logo {
  color: white;
  font-family: 'Lato' !important;
  font-size: rem-calc(24);
  font-weight: lighter;
  line-height: rem-calc(48);

  img {
    height: 48px;
    width: 48px;

    @media (min-width: $small-breakpoint) {
      height: 80px;
      margin-right: rem-calc(12);
      margin-top: 0;
      width: 80px;
    }
  }
}

// 03. Global styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

*, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: white;
  color: $text;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(14);
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: rem-calc(24);
}

h1 {
  font-size: rem-calc(24);
}

h2 {
  font-size: rem-calc(20);
}

h3 {
  font-size: rem-calc(16);
}

p {
  color: $text;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(14);
  line-height: $line-height;
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }
}

.button {
  background: $brand;
  font-size: rem-calc(14);
  font-family: $font-family-sans-serif !important;
}

.row {
  max-width: 1170px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto rem-calc(-280);
  height: auto !important;
  height: 100%;
}

.breadcrumbs {
  background: none;
  border: 0;
  margin: rem-calc(24) 0;

  & > * {
    font-size: rem-calc(14);
    text-transform: none;
  }

  a {
    color: $link;
    text-decoration: underline;
  }

}

.footer, .push {
  clear: both;
  min-height: rem-calc(280);
}

.footer {
  background: #DEE0E2;
  border-top: rem-calc(6) solid $brand;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sidebar {
  border-top: 6px solid $brand;
  padding-top: rem-calc(12);
}

// 04. Header
// - - - - - - - - - - - - - - - - - - - - - - - - -

header {

  .external-links {
    float: none;
    padding: rem-calc(6) 0;
    text-align: center;

    @media (min-width: $small-breakpoint) {
      float: right;
    }
  }
}

.contain-to-grid {
  background: $brand;
}

.top-bar {
  background: $brand;
  max-width: 1170px !important;
  min-height: rem-calc(48);
  padding: 0 rem-calc(12);

  @media (min-width: $small-breakpoint) {
    height: auto;
    padding: 0;
  }

  .name {

    @media (min-width: $small-breakpoint) {
      margin-left: rem-calc(12);
    }

    a {
      @include logo;
    }
  }

  .toggle-topbar {

    a {
      font-size: rem-calc(10);
    }

    &.menu-icon a {
      padding: 0 rem-calc(24);

      span::after {
        box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
        right: 0;
      }
    }
  }

  &.expanded {

    .title-area {
      background: none;
    }

    .toggle-topbar a {
      color: #FFF;

      span::after {
        box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
      }
    }
  }
}

.top-bar-section {

  a {
    color: white;
    display: inline-block;
    font-size: rem-calc(14);
    line-height: $line-height;
    position: relative;
    text-align: left;

    @media (min-width: $small-breakpoint) {
      margin: 0 rem-calc(24);
    }
  }

  ul {
    margin-left: 0;

    li {
      background: none;

      &:not(.has-form) a:not(.button) {
        background: none;
        color: white;
        font-size: rem-calc(16);
        line-height: rem-calc(48);
        padding: 0;
        text-align: center;

        @media (min-width: $small-breakpoint) {
          line-height: rem-calc(80);
        }

        &:hover {
          background: none;
          color: $text-light;
          text-decoration: underline;
        }

        &.selected {
          background: white;
          color: $brand;
        }
      }
    }
  }
}

.top-links {
  background: $dark;
  color: white;
  font-size: rem-calc(14);

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.intro {
  padding-top: rem-calc(24);

  .button {
    background: $dark;
  }
}

// 05. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

footer {
  color: #171819;
  padding-top: rem-calc(24);

  .logo {
    @include logo;

    a {
      color: #454A4C;
      line-height: rem-calc(36);
      padding-left: 0;
      text-decoration: none;
    }
  }

  p {
    font-size: rem-calc(14);
  }

  a, a:active, a:focus {
    color: #454A4C;
    text-decoration: underline;

    &:hover {
      color: #171819;
    }
  }

  .footer-sections {
    padding-left: 0;
  }

  h4 {

    a {
      border-bottom: 1px solid #BFC1C3;
      display: block;
      margin-bottom: rem-calc(6);
      padding-bottom: rem-calc(6);
      text-decoration: none;
    }
  }
}

.subfooter {
  border-top: 1px solid #BFC1C3;
  opacity: .75;
  margin-top: rem-calc(24);
  padding-top: rem-calc(12);
}

// 06. Social
// - - - - - - - - - - - - - - - - - - - - - - - - -

.social {
  margin-top: rem-calc(24);
  text-align: center;

  @media (min-width: $small-breakpoint) {
    margin-top: 0;
    text-align: right;
  }

  a {
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    margin: 0 rem-calc(12);
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      color: $text-light;
      text-decoration: none;
    }

    @media (min-width: $small-breakpoint) {
      font-size: rem-calc(18);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// 07. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert-box {

  &.success {
    background-color: $success-bg;
    border-color: $success-border;
    color: $success-color;
  }

  &.info {
    background-color: $info-bg;
    border-color: $info-border;
    color: $info-color;
  }

  &.warning {
    background-color: $warning-bg;
    border-color: $warning-border;
    color: $warning-color;

    a {
      color: $warning-color;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &.alert {
    background-color: $alert-bg;
    border-color: $alert-border;
    color: $alert-color;
  }

  .close {
    text-decoration: none !important;
  }
}

span.error, small.error {
  background: $alert-bg;
  color: $alert-color;
}

.error small.error {
  background: $alert-bg;
  color: $alert-color;
  display: inline-block;
  margin: 0 rem-calc(6);
}

label.error, label.error a {
  color: $alert-color;
}

.alert-messages {
  background-color: white;
  padding-top: rem-calc(24);
}