// Table of Contents
//
// 01. Browse panes
// 02. Objectives
// 03.
// 04.
// 05. Pages

// 01. Browse panes
// - - - - - - - - - - - - - - - - - - - - - - - - -

.browse-panes {

  .text {

    ol, ul, li, p {
      font-size: rem-calc(14);
    }
  }

  .made i {
    color: $check;
  }

  .pending i {
    color: $text-medium;
  }

  .menu {

    ul {
      margin-left: 0;

      li {
        font-size: rem-calc(14);
        list-style-type: none;
        margin: 0 rem-calc(-15);

        &:hover {
          background: #DEE0E2;
        }

        a {
          display: block;
          line-height: rem-calc(24);
          padding: rem-calc(12) rem-calc(18);
          position: relative;

          &.active {
            background: $brand;
            color: white;

            h3, p {
              color: white;
            }
          }

          &:after {
            content: "c";
            font-family: "icons" !important;
            margin-top: -12px;
            position: absolute;
            top: 50%;
            right: 0;
          }

          p {
            color: $text;
          }
        }
      }
    }
  }
}

.pane-second, .pane-third {
  border-left: 1px solid $border;
}

.description {

  &.small {
    height: 60px;
    overflow: hidden;
  }

  .show-more {
    position:relative;
    cursor: pointer;
    border:1px solid transparent;
    display: inline-block;
    color:$link;
    margin-top:5px;
    padding: 5px;

    &:hover {
      border:1px solid $link;
    }
  }
}

// 02. Objectives
// - - - - - - - - - - - - - - - - - - - - - - - - -

.objectives {

  h3 {
    color: $text-medium;
  }
}


// 04. Area Link
// - - - - - - - - - - - - - - - - - - - - - - - - -
.area_link{
  a{
    padding-left: 40px;
    position: relative;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding: 11px;
    line-height: 1.1em;
    border:1px solid transparent;
    &:hover{ border:1px solid $link; }
    &.active{
      border:1px solid $link;
      color: darken($text, 20%);
      i{
        background: lighten($link, 30%);
        &:before{
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          top:45%;
          left:2%;
        }
      }
    }
    i{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2em;
      &:before{
        right:0;
        left: 6px;
        position: absolute;
        top: 37%;
      }
    }
      &.active{
      border:1px solid $link;
      color: darken($text, 20%);
    }
  }
}

// 05. Pages
// - - - - - - - - - - - - - - - - - - - - - - - - -
.pages{
  .row.header{
    padding: 20px 0px;
    .button{
      margin: 0px;
    }
  }
  .page{
    a.disabled {
      span{color: #aaa;}      
    }    
  }
  .column_right{
    .indent{padding-left: 20px;}
    .level4{
      padding-left: 30px;
    }
  }
  .column_left, .column_center,.column_right{
    @extend .area_link;
  }
  .area_link{
    span{
      padding-left: 20px;
      font-size: 1.2em;
      color:$link;
    }
    .description{
      font-size: 0.8em;
      color:$text;
    }
    .icon-edit{
      display: inline-block;
      position: absolute;
      z-index: 2;
      border: none;
      &:hover{
        border: none;
        color: $link-hover;
      }
    }
  }
}
.show{
  text-align: justify;
}