// Contents
//
// 01. Browse panes
// 02. People
//

// 01. Browse panes
// - - - - - - - - - - - - - - - - - - - - - - - - -

.menu ul {
  list-style-type: none;
  margin-left: 0;

  li {
    margin: 0 rem-calc(-15);

    &:hover {
      background: $hover;
    }

    a {
      display: block;
      line-height: rem-calc(24);
      padding: rem-calc(12) rem-calc(18);
      position: relative;

      p {
        color: $text;
      }

      &.active {
        background: $brand;
        color: white;

        h3, p {
          color: white;
        }
      }

      &:after {
        content: "c";
        font-family: "icons" !important;
        margin-top: rem-calc(-12);
        position: absolute;
        top: 50%;
        right: 0;
      }
    }
  }
}

.pane {
  border-left: 1px solid $border;
}

// 02. People
// - - - - - - - - - - - - - - - - - - - - - - - - -

.people-card {

  i {
    font-size: $base-font-size;
  }

  .column {

    @media (min-width: $small-breakpoint) {
      padding-bottom: rem-calc(288);
    }
  }
}

.people-list {
  margin-left: 0;
  margin-top: rem-calc(24);

  li {
    display: inline-block;
    display: inline\9;
    float: left\9;
    vertical-align: top;
    width: 49%;
    width: 24%\9;

    @media (min-width: $small-breakpoint) {
      width: 32%;
    }

    @media (min-width: $medium-breakpoint) {
      width: 24%;
    }

    a {
      display: inline\9;
    }

    h3 {
      margin: rem-calc(12) auto 0;
      max-width: 163px; // Same as people photo width
    }
  }

  p {
    color: $text-medium;
    margin: 0 auto rem-calc(24);
    max-width: 163px; // Same as people photo width
  }
}

.people-affiliation {
  background: $brand;
  border-top-left-radius: rem-calc(12);
  bottom: 0;
  color: white;
  font-size: rem-calc(12);
  padding: rem-calc(3) rem-calc(6);
  position: absolute;
  right: 0;
}

.people-photo {
  display: inline\9;

  figure {
    display: inline-block;
    position: relative;
  }
}

.fixed-left-sidebar {

  .people-photo {
    padding-left: rem-calc(12);
  }
}

.role {
  color: $text-medium;
  font-size: rem-calc(24);
  margin-top: 0;
}

.profile {

  @media (min-width: $small-breakpoint) {
    padding-top: rem-calc(70);
  }
}

.tabs.vertical {
  border-right: 1px solid $border;
  margin-right: rem-calc(24);
}

.tabs dd.active > a, .tabs .tab-title.active > a {
  background: $brand;
  color: white;
}

.tabs dd > a, .tabs .tab-title > a {
  background: white;
  color: $brand;
}

.tabs-content > .content {
  padding: 0;
}

.side-nav li {
  font-size: $base-font-size;

  &:hover {
    background: #DEE0E2;
  }

  a:not(.button) {
    color: $link;
    font-family: $font-sans;
    padding: 0;

    @media (min-width: $small-breakpoint) {
      padding: rem-calc(7) rem-calc(14);
    }

    &:hover, &:focus {
      background: none;
      color: $link-hover;
    }
  }

  &.active {
    background: $brand;
    color: white;

    & > a:first-child:not(.button), a {
      background: $brand;
      color: white;
      font-family: $font-sans;
    }
  }
}


// Column sorting
.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: image-url('up_arrow.gif');
}

.sortable th .desc {
  background-image: image-url('down_arrow.gif');
}