<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un cambio de contrase침a para tu cuenta. Puedes cambiarla con el enlace de debajo.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has pedido un cambio de contrase침a, por favor ignora este email.</p>
<p>Tu contrase침a no se cambiar치 a no ser que accedas al enlace anterior y crees una nueva.</p>
